.theme {
  transition: all 1s;
  min-height: 100vh;

  &--belgium {
    background-color: $background-belgium;
    color: white;
  }

  &--cheesy {
    background-color: $background-cheesy;
    color: black;
  }
}
