.theme {
  min-height: 100vh;
  transition: all 1s;

  &--belgium {
    background-color: $background-belgium;
    color: $color-belgium;
  }

  &--cheesy {
    background-color: $background-cheesy;
    color: $color-cheesy;
  }
}

.wrapper {
  padding-left: $space-sm;
  padding-right: $space-sm;

  @include screen-md {
    padding-left: $space-md;
    padding-right: $space-md;
  }

  @include screen-lg {
    padding-left: $space-lg;
    padding-right: $space-lg;
  }
}
