.theme {
  min-height: 100vh;
  transition: background-image 1s;

  &--belgium {
    background-image: url('../../../public/belgium-background.jpg');
    background-size: cover;

    @include screen-md {
      background-size: calc(100vw / 3);
    }
  }

  &--cheesy {
    background-image: url('../../../public/cheesy-background.jpg');
    background-size: cover;

    @include screen-md {
      background-size: calc(100vw / 3);
    }
  }
}

.wrapper {
  padding-left: $space-sm;
  padding-right: $space-sm;

  @include screen-md {
    padding-left: $space-md;
    padding-right: $space-md;
  }

  @include screen-lg {
    padding-left: $space-lg;
    padding-right: $space-lg;
  }
}
