.button {
  min-width: 7rem;
  padding: 2px;

  display: grid;
  place-items: center;

  &:hover {
    cursor: pointer;
  }

  &--cheesy {
    background-color: $cheesy-color-white-transparent;
    @include border($border-size, $cheesy-color-white-transparent);
    @include transition--fast;

    &:hover {
      @include transition--fast;
      background-color: $cheesy-color-pink-transparent;
      @include border($border-size, $cheesy-color-pink-transparent);

      & > p {
        color: $color-white;
      }
    }
  }

  &--belgium {
    padding: calc($border-size + 2px);
    background-color: $color-white;
    color: $belgium-color-black;

    &:hover {
      background-color: $belgium-color-black;
      color: $color-white;
    }
  }

  &--neutral {
    padding: calc($border-size + 2px);
    background-color: $belgium-color-black;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $belgium-color-black;
    }
  }
}
