// colors
// generic
$color-white: #fff;

// belgium
$belgium-color-red: #ff0600;
$belgium-color-yellow: #f8d700;
$belgium-color-black: #000;

// cheesy
$cheesy-color-pink: #e16699;
$cheesy-color-pink-transparent: rgba($cheesy-color-pink, 0.5);
$cheesy-color-white-transparent: rgba($color-white, 0.5);

// spacing
$space-xs: 0.5rem;
$space-sm: 1.5rem;
$space-md: 2.5rem;
$space-lg: 3.5rem;
$space-xl: 4.5rem;

//misc
$small-header-height: calc($space-sm + ($space-xs * 2));
