.contact {
  &__listTitle {
    margin-bottom: $space-sm;
  }

  &__listItem {
    display: inline-block;

    &--space {
      margin-bottom: $space-sm;
    }
  }

  &__answer {
    margin-left: $space-sm;
    width: fit-content;

    &:not(:last-child) {
      margin-bottom: $space-sm;
    }
  }

  &__musicClick {
    &:hover {
      cursor: pointer;
    }
  }
}
