.contact {
  &__listTitle {
    margin-bottom: $space-sm;
  }

  &__listItem {
    display: inline-block;
  }

  &__answer {
    margin-left: $space-sm;

    &:not(:last-child) {
      margin-bottom: $space-sm;
    }
  }
}
