.h1 {
  font-size: 24px;

  &--belgium {
    font-family: 'Roboto-Regular';
  }

  &--cheesy {
    font-family: 'Vivaldii';
    color: $cheesy-color-pink;
  }

  @include screen-md {
    font-size: 38px;
  }
}

.h2 {
  font-size: 18px;

  &--belgium {
    font-family: 'Roboto-Regular';
  }

  &--cheesy {
    font-family: 'Vivaldii';
    color: $cheesy-color-pink;
  }

  @include screen-md {
    font-size: 22px;
  }
}

.p,
.label {
  font-size: 16px;

  &--belgium,
  &--neutral {
    font-family: 'Roboto-Regular';
  }

  &--cheesy {
    font-family: 'DancingScript-Regular';
    color: $cheesy-color-pink;
  }

  @include screen-md {
    font-size: 18px;
  }
}

// font-family: 'Roboto', sans-serif;
