.rsvp {
  &__textField,
  &__attendance,
  &__checkboxes {
    margin-bottom: $space-sm;
  }

  &__btns {
    display: flex;
    gap: $space-xs;

    &--withSpaceBot {
      margin-bottom: $space-sm;
    }
  }
}
