.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-xs 0;

  &--small {
    flex-direction: row;
  }

  &--large {
    flex-direction: row-reverse;
  }

  &__wrapper-large {
    display: flex;
    gap: $space-md;
  }
}
