$toggle-height: 24px;
$toggle-width: 48px;
$toggle-margin: 1px;
$circle-size: calc(#{$toggle-height} - #{$toggle-margin} * 2);

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  height: $toggle-height;
  width: $toggle-width;
  border-radius: calc(1.5rem + $toggle-margin);

  &--belgium {
    background-color: $belgium-color-black;
  }

  &--cheesy {
    background-color: $cheesy-color-pink;

    &--text {
      color: $color-white !important;

      @include screen-md {
        color: $cheesy-color-pink !important;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &__circle {
    position: absolute;
    background-color: $color-white;
    top: 50%;
    transform: translateY(-50%);
    height: $circle-size;
    width: $circle-size;
    border-radius: 1.5rem;
    @include transition--fast;

    &--belgium {
      left: calc(#{$toggle-width} - #{$circle-size} - #{$toggle-margin});
    }

    &--cheesy {
      left: $toggle-margin;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
